@using Microsoft.AspNet.Identity.Owin;
@using Microsoft.AspNet.Identity;
@using System.Web.Http;

@{
    ViewBag.Title = "Your Items";
}

@if(ViewBag.Description != null)
{
<div class="green black-text rounded-corners div--padding-status" style="margin-top:20px;">
    <h5>@ViewBag.Description</h5>
</div>
}

<h2>@ViewBag.Title</h2>

<div id="content">
    <div id="div_empty" class="orange lighten-2 black-text rounded-corners form-padding space-top" hidden>
        <h3>You have no items yet. Add some <a href="@Url.Action("ManagePet","Pet")">here</a></h3>
    </div>
</div>


@{Html.RenderPartial("~/Views/Shared/Templates/PetDescriptionTemplate.cshtml");}



<button onclick='window.location.href="@Url.Action("ManagePet", "Pet")"' class="btn-large orange darken-2 black-text" style="margin-top:2rem">Add Item</button>



<script type="text/javascript" src="~/Content/js/data-utility.js"></script>
<script>
    
    var loader = document.getElementById("loader");
    var url = "@Url.Action("GetPetsOfUser", "Pet", new { userId = @System.Web.HttpContext.Current.User.Identity.GetUserId()})";
    var url_image = "@Url.Action("GetDisplayImage", "Pet")";
   
    displayPet.execute(url, loader, url_image); //from the external js: /Content/js/data-utility.js
</script>

