@model ASProject.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "col s12 orange lighten-2  rounded-corners z-depth-4", role = "form", @style="padding:40px;"}))
{
    @Html.AntiForgeryToken() //security feature for no "data injection" from an external source

    
    

    @Html.ValidationSummary("", new { @class = "text-danger" })//creates <ul> elements of validation messages, in its own div
    
    <div class="">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label black-text" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control black-text normal-input" })
        </div>
    </div>

    <div class="input-between">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label black-text" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control black-text normal-input" })
        </div>
    </div>

    <div class="input-between">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label black-text" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control black-text" })
        </div>
    </div>

    <div class="input-between">

        <label for="Location_Country" class="black-text">Country</label>

        <select class="browser-default" id="Location_Country" onchange="checkCountry()" style="margin-top:10px">
            <option value="" selected disabled>Choose here</option>
            <option value="united_states">United States</option>
            <option value="philippines">Philippines</option>
        </select>

    </div>
    <div class="input-between" id="div_state" hidden>
        <label for="Location__State" class="black-text">State</label>
        <input id="Location__State" name="Location.State" type="Text" />
    </div>
    <div class="input-between">
        @*@Html.LabelFor(m => m.City)
        @Html.TextBoxFor(m => m.City)*@
        <label for="Location__City" class="black-text">City</label>
        <input id="Location__City" class="black-text" name="Location.City" type="Text" />
    </div>
    <div class="input-between">
        @*@Html.LabelFor(m => m.ZipCode)
        @Html.TextBoxFor(m => m.ZipCode)*@
        <label for="Location__ZipCode" class="black-text">Zip Code</label>
        <input id="Location__ZipCode" class="black-text" name="Location.ZipCode" type="Text" />
    </div>
    <div class="form-bot-actions">
        <div class="">
            <input type="submit" class="btn orange black-text" value="Register" />
        </div>
    </div>
}

<script>

    var select = document.getElementById("Location_Country");
    var div_state = document.getElementById("div_state");
    function checkCountry() {
        var selectedCountry = select.value;
        if (selectedCountry == "united_states") {
            div_state.hidden = false;
        } else {
            div_state.hidden = true;
        }
    }

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
